@font-face {
    font-family: 'Robotobold';
    src: 
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Robotonormal';
    src: 
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Robotonormal500';
    src: 
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500%;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: 
        url('../fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}